<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${tempdir}nlog-internal.log">
  <extensions>
    <add assembly="Logger"/>
  </extensions>
  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${callsite:skipFrames=1} - ${message} ${exception:format=tostring}" />
    <target name="debug" xsi:type="Trace" layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${callsite:skipFrames=1} - ${message} ${exception:format=tostring}" />
    <target name="file"  xsi:type="File" 
            fileName="${tempdir}INFAppRunner.${longdate:cached=true}.log" 
            layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${callsite:skipFrames=1} - ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debug" />
  </rules>
</nlog>
